{% extends "templates_base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 71vh; margin-top: 5vh;">
    <div class="text-center">
        <h4 class="display-4 text-warning me-2">Hola,</h4>
        <h4 class="display-4 text-danger">bienvenidx!</h4>
        <p class="container text-center mt-2">
            ¡Utilizá nuestra plataforma de gestión! Este sistema está diseñado para ayudarte a administrar de manera eficiente y efectiva el inventario de dispositivos móviles de la empresa. Además, te permite agregar equipos, marcas, proveedores, controlar el stock y realizar reclamos.
        </p>
    </div>
</div>
{% endblock %} 